html {
  font-family: Helvetica, Arial, sans-serif;
}

selettore {	
	color: blue;
	font-size: 20px;
	border: 3px dotted red;
	padding: 20px;
	margin: 50px;
}

a {
  display: inline-block;
  padding: 15px 20px;
  text-align: center;
  font-size: 20px;
  background-color: #efefef;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
}

canvas {
  border: 2px solid black;
}
